.*.swp

volumes/hadoop/ca/*
!volumes/hadoop/ca/.gitkeep

volumes/hadoop/logs/*
!volumes/hadoop/logs/.gitkeep

volumes/hadoop/pids/*
!volumes/hadoop/pids/.gitkeep

volumes/hadoop/tmp/*
!volumes/hadoop/tmp/.gitkeep

volumes/home/root/ssh/*
!volumes/home/root/ssh/.gitkeep

volumes/home/mapred/ssh/*
!volumes/home/mapred/ssh/,gitkeep

volumes/home/hdfs/datanode/*
!volumes/home/hdfs/datanode/.gitkeep

volumes/home/hdfs/log/*
!volumes/home/hdfs/log/.gitkeep

volumes/home/hdfs/namenode/*
!volumes/home/hdfs/namenode/.gitkeep

volumes/home/hdfs/namesecondary/*
!volumes/home/hdfs/namesecondary/.gitkeep

volumes/home/hdfs/ssh/*
!volumes/home/hdfs/ssh/.gitkeep

volumes/home/yarn/local/*
!volumes/home/yarn/local/.gitkeep

volumes/home/log/*
!volumes/home/log/.gitkeep

volumes/home/yarn_log/*
!volumes/home/yarn_log/.gitkeep

volumes/home/yarn/ssh/*
!volumes/home/yarn/ssh/.gitkeep

volumes/kerberos/keytabs/*
!volumes/kerberos/keytabs/.gitkeep

volumes/kerberos/logs/*
!volumes/kerberos/logs/.gitkeep

volumes/kerberos/*.conf
volumes/kerberos/*.acl
volumes/kerberos/*.sh

volumes/m2/*
!volumes/m2/.gitkeep

